
    
.loginForm{
  width: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: sienna;
  background: papayawhip;
  border-radius: 10px;
  margin: 20px auto;
  padding: 20px 30px;
}
